*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


    /* border: 1px solid black; */
}

body, html {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.main-container {
    flex-grow: 1;

    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
    "sidebar header"
    "sidebar main-content";
}


/* 
--------------
************** HEADER 
--------------
*/

.header {
    grid-area: header;
}


.header-row-1 {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}


.search-panel, .user-panel {
    display: flex;
    gap: 1rem;

}

.search-bar {
    background-color: #E2E8F0;
    border: 1px solid #E2E8F0;
    border-radius: 2rem;
    width: 20rem;
}



.user-logo-1-div {
    border: 0px solid black;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
}

.user-name-1 {
    font-weight: bold;
}


.header-row-2 {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}


.user-info-container {
    display: flex;
    gap: 1rem;
}

.user-msg {
    font-size: 0.7rem;
    font-weight: bold;
}

.user-name {
    font-size: 1.3rem;
    font-weight: bold;
}

.user-logo-2-div {
    border: 0px solid black;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
}


.btn-container {
    display: flex;
    gap: 1rem;
}

[class$=-btn] {
    background-color: #1992D4;
    border: 1px solid #1992D4;
    border-radius: 1rem;
    width: 5rem;
    height: 2rem;
    color: #E0F2FE;
    font-weight: bold;
}

[class$=-btn]:hover {
    cursor: pointer;
}




/* 
--------------
************** SIDEBAR 
--------------
*/


.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #1992D4;
    color: #FFFFFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
}

.dashboard {
    display: flex;
    padding-left: 1rem;
    gap: 0.5rem;
    align-items: center;
    font-size: 1.3rem;
    margin-top: 1rem;
}

.nav-options {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    gap: 0.5rem;
}


.more-options {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    gap: 0.5rem;
}


.nav-options > div, .more-options > div {
    display: flex;
    gap: 1rem;
    vertical-align: baseline;
}


/* 
--------------
************** MAIN-CONTENT 
--------------
*/


.main-content {
    grid-area: main-content;
    background-color: #E2E8F0;
    display: grid;

    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;

    grid-template-areas: 
    "project-container announcements-container"
    "project-container trending-container";
}

.project-container{
    grid-area: project-container;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.projects-title {
    height: 7%;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem 0rem 0.5rem 2rem;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-grow: 1;
    padding: 0 2rem 2rem 2rem;
    gap: 2rem;
}

[class^=project-card] {
    border: 1px solid #FFFFFF;
    border-radius: 0.5rem;
    border-left: 0.4rem solid #F0B429;
    padding: 0.8rem;
    background-color: #FFFFFF;
    height: fit-content;
    box-shadow: 2px 3px 4px 1px #999;
}

.project-title {
    font-size: 1rem;
    color: #222;
    font-weight: bold;
}

.project-description {

    font-size: 0.8rem;
    color: #555;
}

.project-links {
    display: flex;
    justify-content: flex-end;
    gap: 0.8rem;
    padding-top: 0.4rem;
}

.announcements-container {
    grid-area: announcements-container;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.announcements {
    border: 1px solid #FFFFFF;
    border-radius: 0.5rem;
    background-color: #FFFFFF;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    width: 90%;
    box-shadow: 2px 3px 4px 1px #999;
}

.announcement-1, .announcement-2, .announcement-3 {
    margin-bottom: 1rem;
}

.announcement-container-title, .trending-container-title {
    font-size: 1.1rem;
    color: #222;
    font-weight: bold;
    display: flex;
    height: 2.2rem;
    align-items: center;
}

[class^=announcement-title] {
    font-size: 0.8rem;
    color: #222;
    font-weight: bold;
}

[class^=announcement-description], [class^=user-description] {

    font-size: 0.7rem;
    color: #333;
}

.announcement-1, .announcement-2 {
    border-bottom: 2px solid #E2E8F0;
    padding-bottom: 0.5rem;
}

.trending-container {
    grid-area: trending-container;
    display: flex;
    flex-direction: column;
}

.trending-prof {
    border: 1px solid #FFFFFF;
    border-radius: 0.5rem;
    background-color: #FFFFFF;
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    height: fit-content;
    margin-bottom: 1rem;
    box-shadow: 2px 3px 4px 1px #999;
}


[class^=trending-profile] {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem 0;
}


[class^=icon-div] {
    border: 0px solid black;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-div-1 {
    background-color: #E0F2FE;
}

.icon-div-2 {
    background-color: #333;
}

.icon-div-3 {
    background-color: #A3A3A3;
}

.icon-div-4 {
    background-color: #FFF5F5;
}


/* 
--------------
************** SVGs 
--------------
*/

.nav-options svg, .more-options svg {
    fill: #FFFFFF;
    height: 1.5rem;
    vertical-align: baseline;
}

.dashboard-icon {
    height: 3rem;
    fill: #FFFFFF;
    vertical-align: baseline;
}


[class^=project-card]  svg {
    fill: #111;
    height: 1.5rem;
    vertical-align: baseline;
}


[class^=icon-logo] {
    fill: #111;
    height: 1.5rem;
    vertical-align: baseline;
}

.icon-logo-1 {
    fill: #F8373A;
}

.icon-logo-2{
    fill: #FB8500;
}

.icon-logo-3 {
    fill: #359980;
}

.icon-logo-4 {
    fill: #228CDB;
}


.user-icon-logo-1 {
    fill: #FB8500;
    height: 1.5rem;
    vertical-align: baseline;
}

.search-icon {
    fill: #111;
    height: 1.5rem;
    vertical-align: baseline;
}

.alert-icon-logo {
    fill: #111;
    height: 1.5rem;
    vertical-align: baseline;
}

.user-icon-logo-2 {
    fill: #FB8500;
    height: 2rem;
    vertical-align: baseline;
}